.imgIndex {
    width: 80%;
}
.mobil {
    width: 100%;
    display: none;
}
.bookingImg {
    width: 400px;
    float: right;
    padding: 1em;
}

  @media (max-width:800px) {
    .carousel {
    display:none;
    }

    #carouselExampleControls { display: block; }
    #carouselExampleControls2 { display: block; }
    #carouselExampleControls3 { display: block; }
    #carouselExampleControls4 { display: block; }
    #carouselExampleControls5 { display: block; }
    #carouselExampleControls6 { display: block; }

    .mobil {
        display: block;
    }
    .col {
        margin-left: 6em;
    } 
    .col button {
        margin-bottom: 1em;
    } 
    .row {
        margin-right: 4em;
        justify-content: space-around;
    }
    
}
    @media (max-width:515px) {
      .bookingImg {
          width: 300px;
      }
    }

.modal-button {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
}
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}
  .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4);
}

  .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
}

  @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
}
  
  @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
}
  .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
}
  
  .close:hover, .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
}
  
  .modal-header {
      padding: 2px 16px;
      background-color: #0A66C2;
      color: white;
      text-align: center;
}
  
  .modal-body {padding: 2px 16px;}

  .kart{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  .kart iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
