#victoryWhite {
  font-size: 35px;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 10%;
  z-index: 1000;
  display: none;
}
#victoryBlack {
  font-size: 35px;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 10%;
  z-index: 1000;
  display: none;
}

#myBoard {
  width: 40%;
  z-index: 1000;
  margin-top: 8%;
  margin-left: 30%;
  margin-bottom: 2%;
}

#valgAvFarge {
  padding-left: 45%;
}

#spill {
  margin-left: 8%;
}
