#victoryWhite {
  font-size: 35px;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 10%;
  z-index: 1000;
  display: none;
}
#victoryBlack {
  font-size: 35px;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 10%;
  z-index: 1000;
  display: none;
}

#myBoard {
  width: 50%;
  z-index: 1000;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 10%;
}
