#victoryWhite, #victoryBlack {
  font-size: 70px;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  z-index: 1000;
  display: none;
  position: absolute;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#spillMain {
  width: 100%;
  z-index: 1000;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom: 2%;
}

#valgAvFarge {
  padding-left: 7%;
}

#spill {
  margin-left: 8%;
}
##resetBtn, #nextTrekk, #resetTrekk, #byttSide {
  background-color: #20bc9c;
  color: white;
  width: 25%;
  font-size: 20px;
}
#openings p {
  font-size: 20px;
}
